@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  max-height: -moz-available;
  max-height: -webkit-fill-available;
  max-height: fill-available;
}

.app {
  min-height: 100vh;
}
